framework: net7.0
storage none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 7.0
nuget FSharp.Data ~> 6.0
nuget Newtonsoft.Json ~> 13.0
nuget Giraffe ~> 6.0
nuget Saturn ~> 0.16

source https://nuget.pkg.github.com/almacareer/index.json username: "%PRIVATE_FEED_USER%" password: "%PRIVATE_FEED_PASS%"
# LMC Nuget dependencies:
nuget Alma.ApplicationStatus ~> 4.0
nuget Alma.Environment ~> 9.0
nuget Alma.ErrorHandling ~> 8.0
nuget Alma.Kafka ~> 25.0
nuget Alma.Logging ~> 8.3
nuget Alma.Metrics ~> 8.0
nuget Alma.ServiceIdentification ~> 8.0
nuget Alma.Tracing ~> 8.0
nuget Alma.WebApplication ~> 10.2

nuget Expecto
nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
