framework: net5.0
storage none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 5.0
nuget FSharp.Data ~> 4.0
nuget Newtonsoft.Json ~> 13.0

git ssh://git@bitbucket.lmc.cz:7999/archi/nuget-server.git master Packages: /nuget/
# LMC Nuget dependencies:
nuget Lmc.Consents.ContractAggregate ~> 7.2
#nuget Lmc.Consents.Events ~> 13.0
#nuget Lmc.Consents.PersonAggregate ~> 3.0
nuget Lmc.Environment ~> 6.0
nuget Lmc.ErrorHandling ~> 5.1
nuget Lmc.Kafka ~> 17.0
nuget Lmc.Logging ~> 5.1
nuget Lmc.Metrics ~> 5.1
nuget Lmc.ServiceIdentification ~> 5.5
nuget Lmc.Tracing ~> 2.4

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
