framework: net9.0
storage none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 9.0
nuget FSharp.Data ~> 6.0
nuget Newtonsoft.Json ~> 13.0
nuget Giraffe ~> 7.0
nuget Saturn ~> 0.17

nuget Alma.ApplicationStatus ~> 7.0
nuget Alma.Environment ~> 12.0
nuget Feather.ErrorHandling ~> 1.0
nuget Alma.Kafka ~> 29.0
nuget Alma.Logging ~> 11.0
nuget Alma.Metrics ~> 11.0
nuget Alma.ServiceIdentification ~> 10.1
nuget Alma.Tracing ~> 12.0
nuget Alma.WebApplication ~> 13.0

nuget Expecto
nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
